* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling the Nav Bar */
.navBar{
    background: #0a082d;
    color: #72afc1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.registrationBtn{
    padding: 10px;
    background: #72afc1;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 500;
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerCard{
    background: #16446a;
    color: white;
    width: 30%;
    border-radius: 15px;
    padding: 10px;
}